:root {
    --blue:#132BC2;
    --bluew:#36428E;
    --lightblue:#0AA5F5;
    --orange:#F67D27;
    --dorange:#F25922;
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
}

#banner {
    background-image: url(images/levelelogo.svg);
    overflow: hidden;
    background-size: cover;
    background-position:0 80%;
    color:white;
    font-weight: bold;
    box-shadow: 0px -6px 20px black
}

.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    gap:1em;

}

.menu,.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:1em;
}

.title {
    font-size: 3em;
    padding:40px 0px 20px 0px;
}

.wrapper {
    max-width: 45em;
    padding: 0 4em;
    margin:0 auto;
}

.nav-bar a {
    cursor: pointer;
}

#first-section {
    font-size:1.0em;
}

.footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#footer-info{
    background-color: var(--bluew);
    color:white;
    margin-top: 10em;
    box-shadow: 0px 6px 20px black
}

.footer {
    padding:3em;
}

#contacts {
    flex-basis: 30em;
}

.orangeback {
    background-color: var(--orange);
}